@import "../../../css-config/mixins.scss";

.hero-banner {
    padding: 40px 0;
    position: relative;
    background-image: linear-gradient(to right, #d80079, #17001f);

    @include md {
        height: calc(100vh - 80px);
    }

    .content {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column-reverse;
        max-width: calc(100% - 20px);
        margin: 0 auto;
        position: relative;

        @include md {
            flex-direction: row;
            max-width: 1200px;
        }

        .banner-img {
            position: relative;
            z-index: 9;
            width: 210px;
            margin-bottom: 20px;

            @include md {
                width: calc(42vw - 80px);
                height: calc(90vh - 80px);
                margin-right: 0px;
                margin-top: 5px;
                margin-bottom: 0;
            }

            @include xxl {
                width: calc(40vw - 80px);
                max-width: 600px;
                height: calc(88vh - 80px);
                margin-right: 0px;
                margin-top: 0px;

            }
        }

        .text-content {
            color: white;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;

            @include md {
                position: absolute;
                left: 50px;
                top: 50%;
                transform: translateY(-50%);

            }

            @include xxl {
                left: 0;
            }

            h1 {
                font-size: 80px;
                font-weight: 700;
                line-height: 1;
                margin-bottom: 20px;
                text-shadow: 12px -7px #420031;
                transform: rotate(-1.5deg);

                @include md {
                    font-size: 180px;
                    text-shadow: 17px -20px 0px #420031;
                }
            }

            p {
                max-width: 300px;
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 20px;

                @include md {
                    max-width: 500px;
                    font-size: 20px;
                    line-height: 24px;
                    margin-bottom: 40px;
                }
            }

            .ctas {
                display: flex;
                justify-content: center;
                gap: 20px;

                .banner-cta {
                    text-transform: uppercase;
                    font-size: 15px;
                    font-weight: 700;
                    width: fit-content;
                    border: 2px solid white;
                    padding: 10px 28px;
                    cursor: pointer;
                    border-radius: 7px;
                    font-family: 'Dancing Script', cursive;

                    &:hover {
                        opacity: 0.8;
                        font-size: 15px;
                        transform: scale(1.1);
                        transition: all 0.4s 0.2s;

                    }
                }
            }
        }
    }
}